<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link href="{{static['js/index.css']}}" rel="stylesheet">
  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
  <div class="page-index">
      {% include "common/header.html" %}
  <section>
    {{title}}
    <ul>
      {% for item in resList %}
      <li>产品ID:{{item.id}}-产品名称：{{ item.name }}-产品利率：{{ item.rate }}</li>
      {% endfor %}
    </ul>
  </section>
  <section>
    <p id="time"></p>
    <p id="time2"></p>
    <ul>
      <li class="timeItem" data-time="1511870593"></li>
      <li class="timeItem" data-time="1511957003"></li>
      <li class="timeItem" data-time="1512103530"></li>
    </ul>
  </section>
</div>
  <script src="{{static['common.js']}}"></script>
  <script src="{{static['js/index.js']}}"></script>
</body>
</html>